
*{
	margin:0;
	padding:0;
}
.header{
	width:6.4rem;
	height:1rem;
	border-bottom:0.01rem #ccc solid;
	border-top:0.01rem #ccc solid;
}
.menu{
	width:2rem;
	height:1rem;

}
.logo{
	position:absolute;
	top:0.01rem;
	left:2rem;
	width:2.4rem;
	height:1rem;
}
.man{
	width:2rem;
	height:1rem;
	position:absolute;
	left:4.4rem;
	top:0.01rem;
}
.man>img{
	width:0.5rem;
	height:0.5rem;
	position:absolute;
	top:0.25rem;
	left:0.75rem;
}
.footer{
	position:absolute;
	width:6.4rem;
	height:3rem;
	background-color:#f7f7f7;
}
.footer-top{
	position:absolute;
	width:6.4rem;
	height:1.4rem;

	border-bottom: 0.01rem #ccc solid;
}
.footer-left{
	position:absolute;
	width:3.2rem;
	height:1.4rem;

	
}
.footer-left>p{
	display: block;
	width:3.2rem;
	height:0.7rem;
	text-align: center;
	line-height: 0.7rem;
	font-size:0.3rem;
}
.footer-right{
	position:absolute;
	left:3.2rem;
	width:3.2rem;
	height:1.4rem;

}
.footer-right>img{
	display: block;
	left:0.3rem;
	top:0.3rem;
	position:absolute;
	width:2.6rem;
	height:0.8rem;
	
}
.footer-bottom{
	position:absolute;
	width:6.4rem;
	height:1.6rem;
	top:1.5rem;

}
.bottom-left>p{
	display: block;
	text-align: center;
	width:1.5rem;
	height:0.5rem;
	font-size:0.2rem;
	line-height: 0.5rem;
}
.bottom-left>img{
	position:absolute;
	width:1.5rem;
	height:0.5rem;
	left:1.5rem;
	top:0;
}
.bottom-text{
	width:6.4rem;
	height:1.1rem;
	position:absolute;
	top:1.9rem;

}
.bottom-text>p{
	display: block;
	position:absolute;
	text-align: center;
	line-height: 0.5rem;
	font-size:0.2rem;
}
.return{
	position:fixed;
	z-index:20;
	top:7rem;
	left:5rem;
	width:1rem;
	height:2.3rem;
	display: none;
}
.menus{
	position:absolute;
	top:1rem;
	width:6.4rem;
	height:1rem;
	display: none;
	overflow:hidden;
}
.menus>div>ul{
	list-style-type:none;
	position: absolute;
	z-index:5;
	font-size:0.3rem;
	width:12rem;
	height:1rem;	

}
.liebiao{
	width:9rem;
	height:1rem;
	position:absolute;
	z-index:50;
}
.menus>div>ul>li{	
	position:absolute;
	top:0;
	left:0rem;
	width:1.7rem;
	height:1rem;
	text-align: center;
	line-height: 1rem;
	float:left;
}
/*.menus>div>ul>li>p{
	background-color:#f00;
	width:1rem;
	height:1rem;
	display: block;
	position: absolute;
}*/
.menus>div>ul>li>a{
	margin-right:1rem;
	text-decoration: none;
	color:#35bb7e;
}
.index{
	width:1.5rem;
	height:4rem;
	position:absolute;
	top:1rem;
	left:4.5rem;
	z-index:10;
	font-size:0.3rem;
	display: none;
		background-color:rgba(0,0,0,0.01);
}
.index>ul{
	width:1.5rem;
	height:4rem;
	list-style-type: none;
}
.index>ul>li{	
	width:1.5rem;
	height:0.6rem;
	text-align: center;
	line-height: 0.6rem;
	color:#35bb7e;
	border-bottom:0.01rem solid #35bb7e;
}
.index>ul>li:hover{
	background-color:#0f0;
	color:#fff;
}
